<div id="<%= dom_id income %>">
  <p>
    <strong>Desciption:</strong>
    <%= income.desciption %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= income.value %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= income.data %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= income.type %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= income.group_id %>
  </p>

</div>
