<div id="<%= dom_id expense %>">
  <p>
    <strong>Desciption:</strong>
    <%= expense.desciption %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= expense.value %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= expense.data %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= expense.type %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= expense.group_id %>
  </p>

</div>
